images
model/
data
result
training-runs
wandb
build

.DS_Store
.ipynb_checkpoints
data
output
debug
*.pyc
deep-head-pose
EvalImages
cache*
*.pkl
gif
archive
*.ply
eval
out

# evaluation:
temp/
shapes/
imgs/
vids/
*.mp4

logs
*.zip
*.obj
*.npy
*.out
*.jpg
*.so
*linux-x86_64*
*egg-info*
